---
name: Release
'on':
  push:
    branches:
      - main
    paths:
      - 'ipv4.txt'
      - 'ipv6.txt'

jobs:

  Release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Create tag and release
        run: |
          set -x
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git config user.name "${{ github.actor }}"
          TODAYDATE=$(date -u "+%Y%m%d")
          SUFFIX=1
          if [[ $(git tag | grep "${TODAYDATE}") ]]; then
              LATEST_TAG=$(git describe --tags --abbrev=0)
              SUFFIX=$(echo ${LATEST_TAG} | sed "s/${TODAYDATE}-//")
              SUFFIX=$((SUFFIX+1))
          fi
          git log $(git describe --tags --abbrev=0)..HEAD --pretty=format:%s | git tag ${TODAYDATE}-${SUFFIX} -F -
          git push --tags
          gh release create ${TODAYDATE}-${SUFFIX} --generate-notes --latest --verify-tag
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
